<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title>Tsundoku</title>
    <link rel="shortcut icon" href="{{ url_for ('static', filename='img/favicon.ico') }}" />

    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
</head>

<body>
    <rapi-doc
        spec-url="https://raw.githubusercontent.com/tylergibbs2/tsundoku.moe/master/docs/openapi.json"
        theme="dark"
        default-schema-tab="example"
        schema-style="table"
        render-style="read"
        show-header="false"
        use-path-in-nav-bar="true"
        allow-authentication="false"
        allow-try="false"
    >
    </rapi-doc>
</body>

</html>