import os

if os.getenv("HEROKU_ENV"):
    WEBHOOK_URLS = {
        "general": os.getenv("WEBHOOK_GENERAL"),
        "feature": os.getenv("WEBHOOK_FEATURE"),
        "bug": os.getenv("WEBHOOK_BUG"),
    }
    PSQL_DSN = os.getenv("DATABASE_URL")
else:
    WEBHOOK_URLS = {
        "general": "discord webhook url here",
        "feature": "discord webhook url here",
        "bug": "discord webhook url here"
    }
    PSQL_DSN = "postgres://postgres:password@localhost:5432/tsundoku_mainsite"
